{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login-container">
    <div class="login-card">

        <!-- LOGO -->
        <img src="{% static 'css/poli.jpeg' %}" alt="Logo" class="login-logo">

        <h2>Ingreso Campus Virtual</h2>
        <p class="subtitle">
            Acceso al Politécnico Ambiental
        </p>

        {% if form.errors %}
            <div class="error">
                Usuario o contraseña incorrectos
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="field">
                <label for="id_username">Usuario</label>
                {{ form.username }}
            </div>

            <div class="field">
                <label for="id_password">Contraseña</label>
                {{ form.password }}
            </div>

            <button type="submit">Ingresar</button>
        </form>

    </div>
</div>
{% endblock %}

